<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="ja">
<meta charset="UTF-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-1.9.0.min.js" charset="UTF-8"></script>
<script type="text/javascript">
</script>
<link href="css/style.css" rel="stylesheet" type="text/css"></link>
<style>

</style>
<title>New Navi</title>
</head>
<body>
<div id="base">
<div id="line">
<div id="main">
  <header>教育について</header>
  <nav></nav>

  <section id="main"> sssss </section>

  <section id="sub"> ssssss <section>
</div>
</div>
<footer><input type="button" value="aaaa"></footer>
</div>
</body>
</html>
